.Modal-background {
  position: absolute;
  background-color: #000000CC;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: blue;
}

#Card {
  background-color: #F2F2F2;
  width: 500px;
  height: 350px;
}


#Close-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  font-size: 20px;
  color: black;
}

#Close-label {
  margin-right: 20px;
  margin-top: 10px;
  user-select: none;
  cursor: pointer;
}

#Children {
  padding-left: 20px;
  padding-right: 20px;
  background-color: aqua;
}

#Footer {
  background-color: bisque;
}